<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330677722689-rctrbttqj1oa0220m7kukq70gqme72pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330677722689-rctrbttqj1oa0220m7kukq70gqme72pd</string>
	<key>API_KEY</key>
	<string>AIzaSyDWPN38UmU9alP_NAQb3LumNCkDoKwxNDg</string>
	<key>GCM_SENDER_ID</key>
	<string>330677722689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tx.causeway</string>
	<key>PROJECT_ID</key>
	<string>causeway-6ba6d</string>
	<key>STORAGE_BUCKET</key>
	<string>causeway-6ba6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330677722689:ios:c0e685270e7c8e31cb70c0</string>
</dict>
</plist>